.testimonials-head{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 60px;
    padding-bottom: 60px;
}
.testimonials-head h2{
    margin: 0 0 50px 0;
    text-align: center;
}
.testimonials-head h3{
    text-align: center;
    color: #fd6c05;
}
.testimonials-wrapper{
    width: 10000px;
}
.main-wrap{
    background: rgb(239, 244, 250);
    overflow: hidden;
}
#testimonials{
    display: flex;
    transition: all ease 1s;
    padding-bottom: 100px;
    width: 100000px;
    position: relative;
    left: calc(50% - 200px);
}

#testimonials button{
    outline: none;
    border: none;
    background: white;
    width: 400px;
    margin-right: 100px;
}
#testimonials button:hover{
    cursor: pointer;
}