body{
    margin: 0;
    font-family: 'Merriweather', serif;
}

.hero{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}
.hero-child{
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.logo-wrap{
    margin: 50px 0 0 50px;
}

.logo-wrap img {
    height: 25px;
}

.phone-block-wrap img{
    height: 500px;
}

.main{
    margin-top: 200px;
    width: 400px;
    min-width: 380px;
}
.main h2{
    font-size: 47px;
    margin: 0 0 25px 0;
}
.main p{
    margin: 0 0 10px 0;
}
.main form{
    margin-top: 50px;
}
.main form button{
    margin-left: 10px;
    height: 50px;
    width: 100px;
    background: #fd6c05;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}
.main form input{
    border: none;
    border-bottom: 1px solid grey;
    height: 40px;
    width: 200px;
    font-size: 20px;
    outline: none;
}
.main form i{
    margin-right: 12px;
    font-size: 30px;
    color: #fd6c05;
}

@media (max-width: 1000px) {
    .hero-child{
        flex-direction: column;
    }
    .main{
        margin: 0 0 100px 50px;
    }
}

@media (max-width: 750px) {
    .phone-block-wrap{
        display: none;
    }
    .hero{
        justify-content: space-around;
    }
    .hero-child{
        width: 90%;
        display: flex;
        align-items: center;
        align-content: center;
    }
    .logo-wrap{
        margin: 50px 0 0 0;
    }
    .main{
        margin: 0;
        width: 100%;
        min-width: 0;
        text-align: center;
    }
}
@media (max-width: 400px) {
    .main h2{
        font-size: 35px;
    }
    .main i {
        display: none;
    }
}